[submodule "nvim-treesitter"]
	path = nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "nvim-lspconfig"]
	path = nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "parsers/tree-sitter-c"]
	path = parsers/tree-sitter-c
	url = https://github.com/tree-sitter/tree-sitter-c.git
[submodule "parsers/tree-sitter-cpp"]
	path = parsers/tree-sitter-cpp
	url = https://github.com/tree-sitter/tree-sitter-cpp.git
[submodule "parsers/tree-sitter-python"]
	path = parsers/tree-sitter-python
	url = https://github.com/tree-sitter/tree-sitter-python.git
[submodule "tree-sitter-java"]
	path = tree-sitter-java
	url = https://github.com/tree-sitter/tree-sitter-java.git
[submodule "tree-sitter-typescript"]
	path = tree-sitter-typescript
	url = https://github.com/tree-sitter/tree-sitter-typescript.git
[submodule "parsers/tree-sitter-java"]
	path = parsers/tree-sitter-java
	url = https://github.com/tree-sitter/tree-sitter-java.git
[submodule "parsers/tree-sitter-typescript"]
	path = parsers/tree-sitter-typescript
	url = https://github.com/tree-sitter/tree-sitter-typescript.git
[submodule "parsers/tree-sitter-javascript"]
	path = parsers/tree-sitter-javascript
	url = https://github.com/tree-sitter/tree-sitter-javascript.git
[submodule "parsers/tree-sitter-kotlin"]
	path = parsers/tree-sitter-kotlin
	url = https://github.com/tree-sitter/kotlin-tree-sitter.git
[submodule "parsers/tree-sitter-c-sharp"]
	path = parsers/tree-sitter-c-sharp
	url = https://github.com/tree-sitter/tree-sitter-c-sharp.git
